<%= form_with(model: league, class: "contents") do |form| %>
  <% if league.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul class="list-disc ml-6">
        <% league.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": league.errors[:name].none?, "border-red-400 focus:outline-red-600": league.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :scoring_format %>
    <%= form.text_field :scoring_format, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": league.errors[:scoring_format].none?, "border-red-400 focus:outline-red-600": league.errors[:scoring_format].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :player_id %>
    <%= form.number_field :player_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": league.errors[:player_id].none?, "border-red-400 focus:outline-red-600": league.errors[:player_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :platform %>
    <%= form.text_field :platform, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": league.errors[:platform].none?, "border-red-400 focus:outline-red-600": league.errors[:platform].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
