<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :espn_rank, style: "display: block" %>
    <%= form.number_field :espn_rank %>
  </div>

  <div>
    <%= form.label :cbs_rank, style: "display: block" %>
    <%= form.number_field :cbs_rank %>
  </div>

  <div>
    <%= form.label :fantasy_pros_rank, style: "display: block" %>
    <%= form.number_field :fantasy_pros_rank %>
  </div>

  <div>
    <%= form.label :team, style: "display: block" %>
    <%= form.text_field :team %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
