<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Espn rank:</strong>
    <%= player.espn_rank %>
  </p>

  <p>
    <strong>Cbs rank:</strong>
    <%= player.cbs_rank %>
  </p>

  <p>
    <strong>Fantasy pros rank:</strong>
    <%= player.fantasy_pros_rank %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team %>
  </p>

    <p>
    <strong>Claimed:</strong>
    <%= player.claimed %>
  </p>

</div>
